.side-bar {
  background-color: #56423d;
  min-width: 200px;
  padding: 0 15px;

  overflow-x: hidden;
  overflow-y: auto;
}

.link {
  color: black;
  font-size: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 0 15px;
  border-radius: 10px;

  transition: 0.3s ease-in-out;
}
.link:first-child {
  margin-top: 40px;
}

.icon {
  color: aliceblue;
  font-size: 22px;
  margin-right: 10px;

  transition: 0.3s ease-in-out;
}
.link:hover .icon {
  color: #56423d;
}
.link:hover {
  background-color: rgb(200, 200, 167);
  cursor: pointer;
}
.link:active {
  background-color: rgb(200, 200, 167);
  border-radius: 10px;
  cursor: pointer;
}

.is_active {
  color: rgb(200, 200, 167);
  border-radius: 10px;
  cursor: pointer;
}

.mobile-side {
  display: none;
}

@media (max-width: 520px) {
  .side-bar {
    display: none;
  }
  .mobile-side {
    padding: 0 8px;
    overflow-x: hidden;
    overflow-y: auto;
    display: inline;
    width: 100px;
  }
}
@media (max-width: 768px) {
  .side-bar {
    min-width: 163px;
  }
}
@media (max-width: 1024px) {
  .side-bar {
    min-width: 170px;
  }
}
