body {
  background-color: #56423d;
}
.contenair-videos {
  width: 100%;

  background-color: rgb(200, 200, 167);
  padding: 40px 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
.video-card {
  margin-bottom: 40px;
}
.card-image {
  border: none;
  height: 140px;
  width: 250px;
}

.card-image-channel {
  /* height: 160px; */
  width: 160px;
}
.videos {
  gap: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info-video h3 {
  /* font-weight: 400; */
  font-size: 0rem;
}
.info-channel h4 {
  color: #060609;
  width: 0rem;
}
.Link {
  overflow-wrap: break-word;
  transition: all 0.9s ease-in-out;
  color: #060609;
  text-decoration: none;
}
.playVideos {
  display: flex;
  justify-content: center;
}
@media (max-width: 520px) {
  .card-image {
    border: none;
    width: 200px;
    height: 100px;
  }
  .contenair-videos {
    padding: 15px;
  }
  .videos {
    gap: 50px;
  }
}
@media (max-width: 1024px) {
  .contenair-videos {
    padding: 30px 7px;
  }
}
@media (max-width: 768px) {
  .contenair-videos {
    padding: 35px 19px;
  }
}

.like {
  display: flex;
  gap: 10px;
}
.likes {
  gap: 34px;
  display: flex;
}

* {
  box-sizing: border-box;
}
