.contenair-videos {
  display: flex;
  direction: column;
  height: 97vh;
  width: 97.8vw;
  border: red solid 2px;
}
.video-card {
  flex-direction: column;
  border: green solid 2px;
}
/* .side-bar {
  background-color: #14203e;
  padding: 40px;
  gap: 20px 20px;

  display: flex;
  flex-direction: column;
  border: yellow solid 2px;
}
.side-bar img {
  width: 50px;
} */

.videos {
  overflow-y: scroll;

  justify-content: center;
  gap: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* height: 62.8vh; */
  background-color: black;
  padding: 10px;
  border: orange solid 2px;
}
/* .contenair-header {
  border: black solid 2px;
  flex-direction: row;
} */
/* .card-image {
  width: 50%;
  height: 50%;
} */
.bar-recherche {
  border: orchid solid 2px;
  padding: 40px;
}
.bar-recherche input {
  background-image: url("/magnifying-glass-solid.svg");
  background-repeat: no-repeat;
  background-color: #d76c58;
  width: 30%;
  margin-left: 10%;
  height: 23px;
  border-radius: 10px;
  border: none;
}

.info-video {
  color: #d76c58 !important;
}

.info-video h3 {
  font-weight: 400;
  font-size: 1rem;
}
/* .infos-video h4 {
  color: #d76c58;
}
.infos-video h5 {
  color: #d76c58;
} */

.contenair-videos h3 {
  width: 50%;
}
.Link {
  text-decoration: none;
}
.playVideos {
  display: flex;
  justify-content: center;
}
